<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Estadisticas</title>

    <!-- Custom fonts for this template-->
    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <div th:replace="fragments/general.html ::admin-sidebar(param1='est')"></div>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <div th:replace="fragments/general.html :: topbar(0)"></div>

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-900">Estadisticas</h1>
                </div>

                <!-- Content Row -->
                <div class="row">

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-4 col-md-6 mb-4">
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Cantidad de compras realizadas</div>
                                        <div  class="h5 mb-0 font-weight-bold text-gray-800"><span th:text="${gcc}"></span></div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-4 col-md-6 mb-4">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Total facturado</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">S/.<span th:text="${tf}">215,000</span></div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-4 col-md-6 mb-4">
                        <div class="card border-left-info shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Cantidad de productos vendidos</div>
                                        <div class="row no-gutters align-items-center">
                                            <div class="col-auto">
                                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800"><span th:text="${cpv}"></span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>

                <!-- Content Row -->


                <div class="row" th:object="${productomasvendido}">
                    <!-- Area Chart -->
                    <div class="col-lg-10 col-sm-12 mx-auto">
                        <div class="container-fluid ">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Producto más vendido</h6>
                                </div>
                                <!-- Card body-->
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-4 py-4">
                                            <div class="container-fluid" style="text-align: center;display: block;">
                                                <!--imagen: -->
                                                <img th:src="@{'/image/'+*{codigo}}" height="135" width="135" class="img-rounded" alt="Cinque Terre">
                                            </div>
                                        </div>
                                        <div class="col-8">
                                            <ul class="list-view text-dark font-weight-normal">
                                                <li th:text="*{codigo}">Código del producto 0</li>
                                                <li th:text="*{nombre}">Nombre del producto</li>
                                                <li th:text="*{precio}">Precio</li>
                                                <li th:text="*{stock}">Stock</li>
                                                <li th:text="*{descripcion}">Descripcion</li>
                                            </ul>

                                            <div class="container" >
                                                <div class="row mr-0 pr-0 pb-1" style="position: absolute; right: 0; bottom: 0;">
                                                    <a th:href="@{'/productos'}" class="mx-3 d-none d-sm-inline-block btn btn-sm btn-dark text-white shadow-sm"> Regresar</a>
                                                    <a th:href="@{'/u/agregarAlCarrito?id=' + *{codigo}}" class="mx-1 d-none d-sm-inline-block btn btn-sm btn-success text-white shadow-sm"> Agregar al carrito <i class="fas fa-plus-circle fa-sm text-white"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" th:object="${productomenosvendido}">
                    <!-- Area Chart -->
                    <div class="col-lg-10 col-sm-12 mx-auto">
                        <div class="container-fluid ">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Producto menos vendido</h6>
                                </div>
                                <!-- Card body-->
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-4 py-4">
                                            <div class="container-fluid" style="text-align: center;display: block;">
                                                <!--imagen: -->
                                                <img th:src="@{'/image/'+*{codigo}}" height="135" width="135" class="img-rounded" alt="Cinque Terre">
                                            </div>
                                        </div>
                                        <div class="col-8">
                                            <ul class="list-view text-dark font-weight-normal">
                                                <li th:text="*{codigo}">Código del producto 0</li>
                                                <li th:text="*{nombre}">Nombre del producto</li>
                                                <li th:text="*{precio}">Precio</li>
                                                <li th:text="*{stock}">Stock</li>
                                                <li th:text="*{descripcion}">Descripcion</li>
                                            </ul>

                                            <div class="container" >
                                                <div class="row mr-0 pr-0 pb-1" style="position: absolute; right: 0; bottom: 0;">
                                                    <a th:href="@{'/productos'}" class="mx-3 d-none d-sm-inline-block btn btn-sm btn-dark text-white shadow-sm"> Regresar</a>
                                                    <a th:href="@{'/u/agregarAlCarrito?id=' + *{codigo}}" class="mx-1 d-none d-sm-inline-block btn btn-sm btn-success text-white shadow-sm"> Agregar al carrito <i class="fas fa-plus-circle fa-sm text-white"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" th:object="${productomascaro}">
                    <!-- Area Chart -->
                    <div class="col-lg-10 col-sm-12 mx-auto">
                        <div class="container-fluid ">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Producto más caro</h6>
                                </div>
                                <!-- Card body-->
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-4 py-4">
                                            <div class="container-fluid" style="text-align: center;display: block;">
                                                <!--imagen: -->
                                                <img th:src="@{'/image/'+*{codigo}}" height="135" width="135" class="img-rounded" alt="Cinque Terre">
                                            </div>
                                        </div>
                                        <div class="col-8">
                                            <ul class="list-view text-dark font-weight-normal">
                                                <li th:text="*{codigo}">Código del producto 0</li>
                                                <li th:text="*{nombre}">Nombre del producto</li>
                                                <li th:text="*{precio}">Precio</li>
                                                <li th:text="*{stock}">Stock</li>
                                                <li th:text="*{descripcion}">Descripcion</li>
                                            </ul>

                                            <div class="container" >
                                                <div class="row mr-0 pr-0 pb-1" style="position: absolute; right: 0; bottom: 0;">
                                                    <a th:href="@{'/productos'}" class="mx-3 d-none d-sm-inline-block btn btn-sm btn-dark text-white shadow-sm"> Regresar</a>
                                                    <a th:href="@{'/u/agregarAlCarrito?id=' + *{codigo}}" class="mx-1 d-none d-sm-inline-block btn btn-sm btn-success text-white shadow-sm"> Agregar al carrito <i class="fas fa-plus-circle fa-sm text-white"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" th:object="${usuariomas}">
                    <!-- Area Chart -->
                    <div class="col-lg-10 col-sm-12 mx-auto">
                        <div class="container-fluid ">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Usuario que más ha gastado</h6>
                                </div>
                                <!-- Card body-->
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                                            <thead>
                                            <tr>
                                                <th>DNI</th>
                                                <th>Nombre</th>
                                                <th>Apellido</th>
                                                <th>Correo</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr >
                                                <td th:text="*{dni}">Tiger Nixon</td>
                                                <td th:text="*{nombre}">System Architect</td>
                                                <td th:text="*{apellido}">Edinburgh</td>
                                                <td th:text="*{correo}">61</td>
                                            </tr>


                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <div th:replace="fragments/general.html :: footer"></div>

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Bootstrap core JavaScript-->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/js/sb-admin-2.min.js}"></script>

<!-- Page level plugins -->
<script th:src="@{/vendor/chart.js/Chart.min.js}"></script>

<!-- Page level custom scripts -->
<script th:src="@{/js/demo/chart-area-demo.js}"></script>
<script th:src="@{/js/demo/chart-pie-demo.js}"></script>

</body>

</html>
